:root {
  --primary-50: #f2f6fb;
  --primary-100: #e8eef7;
  --primary-200: #d5e0f0;
  --primary-300: #bbcce6;
  --primary-400: #9fb2da;
  --primary-500: #8798cd;
  --primary-600: #7380bf;
  --primary-700: #5d68a5;
  --primary-800: #4d5686;
  --primary-900: #434b6c;
  --primary-950: #272a3f;
}
